absl-py>=0.11.0
appdirs>=1.4.3
argcomplete>=1.12.1
astunparse>=1.6.3
atomicwrites>=1.3.0
attrs>=19.3.0
backcall>=0.1.0
bleach>=3.1.3
cachetools>=4.2.1
certifi>=2019.9.11
chardet>=3.0.4
colorama>=0.4.3
cv2-tools>=2.3.4
cycler>=0.10.0
decorator>=4.4.2
defusedxml>=0.6.0
depthai>=2.0.0.0
distlib>=0.3.1
docopt>=0.6.2
entrypoints>=0.3
enum34>=1.1.10
filelock>=3.0.12
flatbuffers>=1.12
gast>=0.3.3
glfw>=2.1.0
gmsh-interop>=2019.1
google-auth>=1.27.0
google-auth-oauthlib>=0.4.2
google-pasta>=0.2.0
grpcio>=1.32.0
h5py>=2.10.0
idna>=2.8
ImageHash>=4.0
importlib-metadata>=1.5.0
imutils>=0.5.3
ipykernel>=5.1.4
ipython>=7.16.1
ipython-genutils>=0.2.0
ipywidgets>=7.5.1
jedi>=0.16.0
Jinja2>=2.11.1
joblib>=0.14.1
jsonschema>=3.2.0
jupyter>=1.0.0
jupyter-client>=6.1.0
jupyter-console>=6.1.0
jupyter-core>=4.6.3
Keras-Preprocessing>=1.1.2
kiwisolver>=1.1.0
Markdown>=3.3.4
MarkupSafe>=1.1.1
matplotlib>=3.2.1
MeshPy>=2018.2.1
mistune>=0.8.4
more-itertools>=8.2.0
nbconvert>=5.6.1
nbformat>=5.0.4
notebook>=6.0.3
numpy>=1.20.1
oauthlib>=3.1.0
open3d>=0.12.0
open3d-python>=0.7.0.0
opencv-contrib-python>=4.5.1.48
opencv-python>=4.5.1.48
opencv-rolling-ball>=1.0.1
OpenglExample>=1.2
opengl-registry>=0.1.0
opt-einsum>=3.3.0
packaging>=20.3
pandocfilters>=1.4.2
parso>=0.6.2
pickleshare>=0.7.5
Pillow>=7.0.0
pip>=20.3.3
pipreqs>=0.4.10
pluggy>=0.13.1
Polygon3>=3.0.8
prometheus-client>=0.7.1
prompt-toolkit>=3.0.4
protobuf>=3.15.2
psutil>=5.7.0
py>=1.8.1
pyasn1>=0.4.8
pyasn1-modules>=0.2.8
pygame>=2.0.1
pyglet>=1.5.15
pyglet2d>=0.2.1
pyglet-helper>=0.0.1
PyGLM>=1.99.3
Pygments>=2.6.1
pylsd>=0.0.2
PyOpenGL>=3.1.5
pyparsing>=2.4.4
pyrealsense2>=2.42.0.2924
pyrsistent>=0.15.7
pytest>=5.4.1
python-constraint>=1.4.0
python-dateutil>=2.8.1
pytools>=2020.1
PyWavelets>=1.1.1
pywin32>=227
pyzmq>=19.0.0
qtconsole>=4.7.4
QtPy>=1.9.0
requests>=2.24.0
requests-oauthlib>=1.3.0
rsa>=4.7.2
scikit-image>=0.18.1
scikit-learn>=0.22.2.post1
scipy>=1.3.3
Send2Trash>=1.5.0
setuptools>=53.1.0
six>=1.15.0
sklearn>=0.0
tensorboard>=2.4.1
tensorboard-plugin-wit>=1.8.0
tensorflow>=2.4.1
tensorflow-estimator>=2.4.0
termcolor>=1.1.0
terminado>=0.8.3
testpath>=0.4.4
tornado>=6.0.4
traitlets>=4.3.3
typing-extensions>=3.7.4.3
urllib3>=1.25.6
vcam>=1.0
virtualenv>=20.0.31
vtk>=8.1.2
wcwidth>=0.1.8
webencodings>=0.5.1
Werkzeug>=1.0.1
wheel>=0.36.2
widgetsnbextension>=3.5.1
wrapt>=1.12.1
yarg>=0.1.9
zipp>=3.1.0
